# .pylintrc
[MASTER]
ignore-patterns=__pycache__

[MESSAGES CONTROL]
disable=
  C0114, C0115, C0116,  # docstrings
  R0903,                 # pocas públicas (data models, DTOs)
  R1711,                 # return inútil (lo arreglas igual)
  R0402, C0415           # import fuera de toplevel (si queda alguno)

[TYPECHECK]
generated-members=pydantic.*
